/* Fuente............................................*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* Selector universal............................................*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General...........................................*/
body {
  font-family: "Libre Franklin", sans-serif;
  color: #351711;
}

/* Anuncio...........................................*/
.anuncio {
  width: 100%;
  height: 30px;
  color: #0e0e0e;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  display: flex;
  align-items: center;

}

.anuncio .scroll {
  display: flex;
  white-space: nowrap;
  animation: scrollText 25s linear infinite;
}

.anuncio .scroll span {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding: 0 4rem;

}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Barra de navegación...........................................*/

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background-color: #351711 !important;
  width: 100%;
  position: fixed;
  align-items: center;
  margin-top: 30px;

}

.navbar-brand {
  /* Nombre de la marca*/
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

nav ul .nav-link {
  color: white !important;
}

.navbar-toggler {
  color: white !important;
}

/* Index: Hero section............................................*/

.hero {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url(../img/Beigeh.png) center/cover no-repeat;
  background-attachment: fixed;

}

.hero div img {
  margin-bottom: 20px;
  margin-right: 80px;
  width: 480;
  height: 380px;

}


.hero h1 {

  font-size: 50px;
  font-weight: 900;
  margin-left: 80px;
  text-align: left;
  color: #fff;
  opacity: 0;
}

.hero h4 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 80px;
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
  opacity: 0;
}

.hero p {
  font-size: 19px;
  font-weight: 400;
  margin-left: 80px;
  width: 85%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: #fff;
  opacity: 0;

}


.hero .btn {

  margin-left: 80px !important;
  transition: all .6s ease;
}

.btn {
  /* Boton con enlace*/
  padding: 8px 18px;
  background-color: #fff;
  color: #351711;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  text-align: center;

}

.btn:hover {
  background-color: #351711;
  color: #fff;
  transition: 0.3s;
}

.mobile {
  display: none;
}

/*Index: Formulario ....................................................*/
.formulacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 10%;
  background-color: #ffffff;
  gap: 80px;
}

.texto-formulacion {
  flex: 1;
}

.texto-formulacion h2 {
  font-size: 28px;
  font-weight: 700;
  color: #351711;
  margin-bottom: 15px;
}

.texto-formulacion p {
  font-size: 16px;
  color: #351711;
  line-height: 1.5;
  max-width: 300px;
}

.formulario {
  flex: 1;
  background-color: #f8f8f8;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.formulario p {
  font-size: 20px;
  color: #351711;
  margin-bottom: 20px;
}

.filas {
  display: flex;
  align-items: center;
  gap: 10px;
}

select {
  appearance: none;
  border: none;
  border-bottom: 1px solid #351711;
  ;
  background: transparent;
  padding: 8px 0;
  font-size: 18px;
  color: #351711;
  width: 100%;
  cursor: pointer;
  margin: 5px;
}

select:focus {
  outline: none;
  border-color: #333;
}

span {
  font-size: 18px;
  color: #351711;
}



/* Index: Destacados section............................................*/
.destacados h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;

}

.card {
  background-color: #fff;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  align-items: center;
  cursor: default;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  transform: translatey (-8px);
}

.card img {
  width: 220px;
  height: 200px;
}

.card-content h3 {
  font-size: 18px;
  margin-top: 4px;
  text-align: center;
}

.card-content p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.card-content .btn {
  text-align: center;
  font-size: 14px;
  display: inline-block;
  padding: 4px;
  margin-bottom: 4px;
  color: #fff;
  background-color: #351711;
  border: #351711;
}

.card-content .btn:hover {
  background-color: #fff;
  color: #351711;
  transition: 0.3s;
}


/* Index: Video section............................................*/
.iframe-index iframe {
  width: 100%;
}

/* Index: Mision section............................................*/

.mision {
  background-color: #fff;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mision h2 {
  font-size: 28px;
  text-align: center;
  color: #351711;
  margin: 20px;
  text-transform: uppercase;
  z-index: 1;
}

.mision div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.mision img {
  width: 500px;
  height: 300px;
  margin-left: 80px;
  z-index: 1;
}

.mision p {
  font-size: 16px;
  width: 35%;
  margin-right: 80px;
  z-index: 1;
}

/* Productos: productos section............................................*/
.productos h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 140px;
  color: #351711;
}

.productos h2 {
  font-size: 20px;
  text-align: center;
  color: #351711;
}

/* Productos: card section............................................*/
.card-productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.card-productos .card img {
  width: 190px;
  height: 200px;
}

/* Contacto: Background section............................................*/
.contactanos {
  padding-top: 140px;
  width: 100%;
  height: 200px;
  background-image: url(../img/Beigeh.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info iframe {
  margin-left: 50px;
  margin: 30px auto;
  border-radius: 5px;

}

/* Contacto: Formulario section............................................*/
.contact_form {
  width: 460px;
  height: auto;
  margin-right: 40px;
  margin: 20px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fff !important;
  padding-left: 30px;

}

.formulario h1 {
  font-size: 30px;
}

.input {
  background-color: #fff;
  width: 380px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #351711;
  margin-top: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}


textarea {
  background-color: #fff;
  width: 380px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #351711;
  margin-top: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 15px;
}


label {
  display: block;
  float: center;
  font-size: 15px;
}
form .aviso {
  font-size: 12px;
}
.boton {
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #351711;
  border-color: #351711;
  border-style: solid;
  border-radius: 10px;
  width: 380px;
  cursor: pointer;
}


.boton p {
  color: #fff;
  font-size: 15px;
}



/* Contacto: info de contacto.........................................*/
.informacion {
  margin-top: -100px;
  margin-left: 80px;
  margin-bottom: 200px;
}

.informacion ul li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

/* Nosotros: Nosotros section.........................................*/
.nosotros h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 140px;
  color: #351711;
}

/* Nosotros: Grid section.........................................*/
.product-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 350px);
  gap: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
  align-content: center;
}

.category {
  position: relative;
  overflow: hidden;
  color: white;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.category img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  opacity: 0.85;
  margin: 20px;
}

.category h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.category p {
  text-align: center;
  font-size: 14px;
  margin: 18px;
}

/* Testimonios: Background section............................................*/
.reviews {
  width: 100%;
  height: 200px;
  background-image: url(../img/Beigeh.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Testimonios: Reseñas section............................................*/
.sus-reseñas h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  color: #351711;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 10px;
  align-items: center;
  margin: 50px;

}

.box {
  padding: 35px;
  background-color: #fbfbfb;
  border-radius: 10px;
}

.box p {
  color: #0e0e0e;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;

}

.in-box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.box-img img {
  width: 100px;
  height: auto;
}

.box-text h3 {
  margin: 2px 0;
  font-size: 14px;
}

.bi.bi-star-fill {
  color: #fee140;
  font-size: 14px;
  padding-top: -50px;
}

.formulario h2 {
  font-size: 20px;
  text-align: center;
}

/* Footer............................................*/

.footer {
  position: relative;
  width: 100%;
  background: #351711;
  min-height: 40px;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px 5px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}

.menu-icon {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  margin: 0px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
}

footer h4 {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

/* Media queries............................................*/


@media screen and (max-width: 969px) {
 .informacion {
  margin-top: 10px;
  margin-left: 80px;
  margin-bottom: 200px;
}
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }


 .mision img {
  width: 480px;
  height: 280px;

  
}

.mision p {
  font-size: 14px;
 
}
.mision h2 {
  font-size: 25px;
}
.formulacion h2 {
  font-size: 25px;
}
.formulario p {
  font-size: 18px;
}
 .info {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-template-areas:
      "item2"
      "item1";
  }

  .info iframe {
    grid-area: item1;
  }

  .info div {
    grid-area: item2;
  }
}

@media screen and (max-width: 879px) {
  .product-categories {
    grid-template-rows: repeat(3, 300px);
    padding: 40px;
  }

  .mision img {
  width: 440px;
  height: 240px;
  margin: 10px;
}

.mision p {
  font-size: 13px;
  margin: 10px;
}


  .info {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-template-areas:
      "item2"
      "item1";
  }

  .info iframe {
    grid-area: item1;
  }

  .info div {
    grid-area: item2;
  }

  .contact_form {
    width: 480px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: auto;
  }

  .informacion {
    margin-top: 10px;
    margin-left: 90px;
    display: flex;
    justify-content: start;
    align-items: center;

  }

}


@media screen and (max-width: 801px) {
  .formulacion h2 {
    font-size: 20px;
  }
  .mision h2 {
    font-size: 20px;
  }
  .informacion {
    margin-left: 70px;
  }

  .informacion ul li p {
    font-size: 15px;
  }

  .boton {
    width: 360px;
  }

  .campo {
  width: 355px;
 }

  .texto_mensaje {
    width: 360px;
  }

  .fila .input {
    width: 155px;
    align-items: center;

  }
.hero p {
  font-size: 18px;
}
  .product-categories {
    grid-template-rows: repeat(3, 290px);
    padding: 35px;
  }

  .sus-reseñas h2 {
    font-size: 22px;
  }

  .reviews-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    margin: 40px;

  }

  .box {
    padding: 30px;
  }

  .box p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 9px;

  }

  .in-box {
    gap: 25px;
  }

  .box-img img {
    width: 80px;
    height: auto;
  }

  .box-text h3 {
    margin: 2px 0;
    font-size: 12px;
  }

  .bi.bi-star-fill {
    font-size: 12px;
  }

  .formulario h3 {
    font-size: 18px;
  }

  .category p {
    font-size: 13px;
    margin: 20px;
  }

  .navbar-brand {
    font-size: 20px;
  }

  nav ul .nav-link {
    font-size: 14px;
  }

  .navbar-toggler {
    font-size: 14px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .btn {
    font-size: 10px;
  }

  .form-control {
    font-size: 10px;
  }

  .destacados h2 {
    font-size: 20px;
  }

  .card {
    height: 290px;
  }

  .card-container .card img {
    width: 200px;
    height: 180px;
  }

  .card-productos .card img {
    width: 170px;
    height: 160px;
  }

  .card-content h3 {
    font-size: 13px;
  }

  .card-content p {
    font-size: 12px;
    margin-top: -5px;
  }

  .card-content .btn {
    font-size: 10px;
    margin-top: -5px;
  }

  .icon {
    font-size: 25px;
  }

  .menu-icon {
    font-size: 11px;
  }

  footer h4 {
    font-size: 8px;
  }

 

  .contact_form {
    width: 450px;
    height: auto;
    margin: 70px auto;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 25px;
  }

  .input {
    width: 360px;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  textarea {
    width: 360px;
    height: 150px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .boton {
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 360px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 14px;
    padding-bottom: 20px;
  }

  p {
    font-size: 11px;
  }

}
@media screen and (max-width: 740px) {
 .mision img {
  width: 380px;
  height: 200px;
}
.mision p {
  font-size: 11px;
  width: 38%;
}
#product-type {
  font-size: 14px;
}
#concern {
  font-size: 14px;

}
.formulario p {
  font-size: 16px;
}
.formulario span {
  font-size: 16px;
}
.hero h1 {
  font-size: 43px;
}

}
@media screen and (max-width: 679px) {
#product-type {
  font-size: 12px;
}
#concern {
  font-size: 12px;

}
.formulario p {
  font-size: 14px;
}
.formulario span {
  font-size: 14px;
}
.formulacion p {
  font-size: 14px;
}
  .informacion {
    margin-left: 90px;
    margin-top: 15px;
  }
   .campo {
  width: 355px;
 }
  .info iframe {
    margin: 0;
    width: 99%;
  }
  .informacion ul li p {
    font-size: 13px;
  }
  .formulario p {
    font-size: 13px;
  }
  .formulario div p {
    font-size: 13px;
  }

  .boton {
    height: 30px;
  }
  .product-categories {
    grid-template-rows: repeat(3, 280px);
    padding: 10px;
  }

  .nosotros h2 {
    font-size: 20px;
    padding-top: 100px;
  }

  .category p {
    font-size: 13px;
    margin: 15px;
  }
  .mision img {
  width: 340px;
  height: 200px;
  margin: 0;
}
.mision p {
  font-size: 11px;
  width: 38%;
  margin: 8px;
}

  .card {
    margin-left: 50px;
    margin-right: 50px;
    height: 240px;
  }

  .card img {
    width: 150px;
    height: 160px;
  }

  .card-content p {
    margin-top: -30px;
  }

  .card-content .btn {
    margin-top: -30px;
  }

  .iframe-index iframe {
    height: 250px;
  }

  .card-container .card img {
    width: 180px;
    height: 160px;
  }
  .hero {
  height: auto;
}
 .hero div img {
    width: 250px;
    height: 400px;
    margin-right: 30px;
  }
.formulacion {
  margin: 8px;
  padding: 10px;
}
.hero h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 589px) {
  .hero h1 {
    font-size: 35px;
  }
  .product-categories {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 250px);
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 20px;
  }

  .sus-reseñas h2 {
    font-size: 19px;
  }

  .reviews-container {
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    margin: 30px;

  }

  .box {
    padding: 20px;
  }

  .box p {
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 9px;

  }

  .in-box {
    gap: 20px;
  }

  .box-img img {
    width: 70px;
    height: auto;
  }

  .box-text h3 {
    margin: 2px 0;
    font-size: 10px;
  }

  .bi.bi-star-fill {
    font-size: 10px;
  }

  .formulario h3 {
    font-size: 15px;
  }

  .category .parrafo1 {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .category .imagen1 {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .card {
    margin-left: 5px;
    margin-right: 5px;

  }


  .mision img {
    margin-left: 0;
    height: 190px;
    width: 290px;

  }

  .mision P {
    font-size: 9px;
    margin-right: 7px;
    margin-left: 7px;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
 .campo {
  width: 360px;
 }
 .fila {
  width: 385px;
 }
 .input {
    width: 360px;
  }

  .informacion {
    margin: 10px;
  }
   .mision {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .mision img {
     width: 80%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .mision P {
    font-size: 12px;
    width: 80%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .formulacion {
    margin: 40px;
    padding: 0px;
    
  }
  .formulario {
  padding: 30px 20px;

}
  .formulario span {
    font-size: 12px;
  }
  .formulacion h2 {
    font-size: 18px;
  }
  .formulacion p {
    font-size: 13px;
  }
  .hero h1 {
    font-size: 30px;
  }

}
@media screen and (max-width: 507px) {
.formulacion {
  flex-direction: column;
    
}
 
.hero {
  padding-top: 110px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
 .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .hero h1 {
  margin-left: 0px;
  
  }
  .hero h4 {
    margin-left: 0px;
    font-size: 10px;
  }
  .hero p {
    margin-left: 0px;
    width: 90%;
  }
 
.hero div img {
  width: 100%;
  height: 280px;

}
.hero .btn {
  margin-bottom: 20px;
  margin-left: 0px !important;
}

.boton {
    width: 240px;
    height: 20px;
    }
  
  .texto_mensaje {
  width: 240px;
  }
  .input {
  width: 240px;
  }
  .contact_form {
    width: 300px;
  }
  .boton p {
    font-size: 10px;
  }
  h2 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 12px;
    padding-bottom: 20px;
  }

  p {
    font-size: 9px;
  }

  .card {
    margin: 20px;

  }

  .iframe-index iframe {
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
 
  .campo {
  width: 320px;
 }
 .fila {
  width: 320px;
 }
 .input {
    width: 320px;
  }
 .texto_mensaje {
    width: 320px;
  }
  .boton {
    width: 320px;
  }
 
  h2 {
    font-size: 18px;
    padding-bottom: 8px;
  }

  h3 {
    font-size: 12px;
    padding-bottom: 18px;
  }

  p {
    font-size: 9px;
  }

  .nosotros h2 {
    font-size: 19px;
  }

  .productos h2 {
    font-size: 19px;
  }

  .sus-reseñas h2 {
    font-size: 19px;
  }

  nav ul .nav-link {
    font-size: 16px;
  }

  .dropdown-item {
    font-size: 16px;
  }

  .navbar-toggler {
    font-size: 12px;
  }

  .btn {
    font-size: 11px;

  }

  .form-control {
    font-size: 12px;
  }

  .destacados h2 {
    font-size: 19px;
  }

  .card-content h3 {
    margin-bottom: 12px;
  }

  .card-content p {
    margin-bottom: 19px;
  }

  .icon {
    font-size: 18px;
    align-items: center;
  }

  .menu-icon {
    font-size: 11px;
    align-items: center;
  }

  footer h4 {
    font-size: 10px;
    text-align: center;
  }


  .mision img {
    margin: 0px;
    padding: 0;
    height: 350px;
    width: 100%;

  }

  
  .mision P {
    font-size: 12px;
    width: 80%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
.mision h2 {
  font-size: 19px;
}
  .mision {
    height: 600px;
  }

  .sus-reseñas h2 {
    font-size: 19px;
  }

  .reviews-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    margin: 30px;

  }

  .box {
    padding: 17px;
  }

  .box p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 9px;

  }

  .in-box {
    gap: 17px;
  }

  .box-img img {
    width: 45px;
    height: auto;
  }

  .box-text h3 {
    margin: 2px 0;
    font-size: 12px;
  }

  .bi.bi-star-fill {
    font-size: 12px;
    padding-top: -80px;
  }

  .formulario h3 {
    font-size: 14px;
  }
  .hero h1 {
    margin-left: 20px;
  }
  .hero h4 {
    margin-left: 20px;
  }
  .hero p {
    margin-left: 20px;
    width: 79%;
  }
  .hero .btn {
    margin-left: 20px !important;
  }


  .card {
    margin: 2px;
  }
  .boton {
    width: 240px;
    height: 20px;
    }
  
  .texto_mensaje {
  width: 240px;
  }
  .input {
  width: 240px;
  }
  .contact_form {
    width: 300px;
  }
  .boton p {
    font-size: 10px;
  }
}