@charset "UTF-8";
/* Fuente............................................*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
nav.navbar.navbar-expand-lg.bg-body-tertiary div form .btn, .hero div .btn {
  padding: 8px 18px;
  background-color: #fff;
  color: #351711;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

/* Selector universal............................................*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General...........................................*/
body {
  font-family: "Libre Franklin", sans-serif;
  color: #351711;
}

/* Anuncio...........................................*/
.anuncio {
  width: 100%;
  height: 30px;
  color: #0e0e0e;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.anuncio .scroll {
  display: flex;
  white-space: nowrap;
  animation: scrollText 25s linear infinite;
}
.anuncio .scroll span {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding: 0 4rem;
}
@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background-color: #351711 !important;
  width: 100%;
  position: fixed;
  align-items: center;
  margin-top: 30px;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary div .navbar-brand {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary div .navbar-toggler {
  color: #fff !important;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary div div ul .nav-link {
  color: #fff !important;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary div form .btn:hover {
  background-color: #351711;
  color: #fff;
  transition: 0.3s;
}

.hero {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/pexels-anastas-20439887.jpg) center/cover no-repeat;
  background-attachment: fixed;
}
.hero div h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.hero div p {
  font-size: 18px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
}
.hero div .btn:hover {
  background-color: #351711;
  color: #fff;
  transition: 0.3s;
}

.destacados h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}
.destacados .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}
.destacados .card-container .card {
  background-color: #fff;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  align-items: center;
  cursor: default;
  transition: transform 0.3s, box-shadow 0.3s;
}
.destacados .card-container .card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  transform: translatey -8px;
}
.destacados .card-container .card img {
  width: 220px;
  height: 200px;
}
.destacados .card-container .card .card-content h3 {
  font-size: 18px;
  margin-top: 4px;
  text-align: center;
}
.destacados .card-container .card .card-content .card-content p {
  font-size: 16px;
  margin-top: -20px;
  text-align: center;
}
.destacados .card-container .card .card-content .btn {
  text-align: center;
  font-size: 14px;
  display: inline-block;
  padding: 4px;
  margin-bottom: 4px;
  color: #fff;
  background-color: #351711;
  border: #351711;
}
.destacados .card-container .card .card-content .btn:hover {
  background-color: #fff;
  color: #351711;
  transition: 0.3s;
}

.presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #351711;
  width: 100%;
  height: 450px;
  flex-wrap: wrap;
}
.presentacion img {
  width: 500px;
  height: 300px;
  margin-right: 40px;
}
.presentacion p {
  font-size: 16px;
  color: #fff;
  width: 40%;
  margin-left: 40px;
}

.iframe-index iframe {
  width: 100%;
}

.mision {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 450px;
  flex-wrap: wrap;
}
.mision img {
  width: 500px;
  height: 300px;
  margin-right: 40px;
}
.mision p {
  font-size: 16px;
  width: 40%;
  margin-left: 40px;
}

.productos h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 140px;
  color: #351711;
}

section .card-productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}
section .card-productos .card img {
  width: 190px;
  height: 200px;
}

.contactanos {
  padding-top: 140px;
  width: 100%;
  height: 200px;
  background-image: url(../img/beige.img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}
.contact_form .formulario h2 {
  font-size: 30px;
  text-align: letf;
  padding-bottom: 20px;
  color: #351711;
}
.contact_form .formulario form p {
  font-size: 16px;
  color: #0e0e0e;
}
.contact_form .formulario form p label {
  display: block;
  float: center;
}
.contact_form .formulario form p input {
  background-color: #fff;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #351711;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.contact_form .formulario form p textarea {
  background-color: #fff;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #351711;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.contact_form .formulario form .boton {
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #351711;
  border-color: #351711;
  border-style: solid;
  border-radius: 10px;
  width: 405px;
  cursor: pointer;
}
.contact_form .formulario form .boton p {
  color: #fff;
}

.nosotros h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 140px;
  color: #351711;
}

.product-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 350px);
  gap: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
  align-content: center;
}
.product-categories .category {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product-categories .category p {
  text-align: center;
  font-size: 16px;
  margin: 30px;
}
.product-categories .category img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  opacity: 0.85;
  margin: 20px;
}

.reviews {
  width: 100%;
  height: 200px;
  background-image: url(../img/beige.img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sus-reseñas h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  color: #351711;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 10px;
  align-items: center;
  margin: 50px;
}
.reviews-container .box {
  padding: 35px;
  background-color: #fbfbfb;
  border-radius: 10px;
}
.reviews-container .box p {
  color: #0e0e0e;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}
.reviews-container .box .in-box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.reviews-container .box .in-box .box-img img {
  width: 100px;
  height: auto;
}
.reviews-container .box .in-box .box-img .box-text h3 {
  margin: 2px 0;
  font-size: 14px;
}
.reviews-container .box .in-box .box-img .box-text .ratings .bi.bi-star-fill {
  color: #fee140;
  font-size: 14px;
  padding-top: -50px;
}

.contact_form .formulario h3 {
  font-size: 20px;
  text-align: center;
}

footer {
  position: relative;
  width: 100%;
  background: #351711;
  min-height: 40px;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px 5px;
  flex-wrap: wrap;
}
footer .social-icon .icon-elem {
  list-style: none;
}
footer .social-icon .icon-elem .icon {
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}
footer .social-icon .icon-elem .icon:hover {
  transform: translateY(-10px);
}
footer .menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}
footer .menu .menu-elem {
  list-style: none;
}
footer .menu .menu-elem .menu-icon {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  margin: 0px 10px;
  opacity: 0.5;
  transition: 0.3s;
}
footer .menu .menu-elem .menu-icon:hover {
  opacity: 1;
}
footer h4 {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 969px) {
  .presentacion p {
    font-size: 13px;
    width: 34%;
  }
  .mision p {
    font-size: 13px;
    width: 34%;
  }
}
@media screen and (max-width: 879px) {
  .product-categories {
    grid-template-rows: repeat(3, 300px);
    padding: 40px;
  }
  .presentacion {
    height: 300px;
    justify-content: space-between;
  }
  .presentacion img {
    width: 50%;
    margin-right: 0;
  }
  .presentacion P {
    width: 40%;
    margin-right: 40px;
  }
  .mision {
    justify-content: space-between;
    height: 325px;
  }
  .mision img {
    width: 50%;
    margin-right: 0;
  }
  .mision P {
    width: 40%;
    margin-right: 40px;
  }
}
@media screen and (max-width: 801px) {
  .product-categories {
    grid-template-rows: repeat(3, 290px);
    padding: 35px;
  }
  .sus-reseñas h2 {
    font-size: 22px;
  }
  .reviews-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    margin: 40px;
  }
  .reviews-container .box {
    padding: 30px;
  }
  .reviews-container .box p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 9px;
  }
  .reviews-container .box .in-box {
    gap: 25px;
  }
  .reviews-container .box .in-box .box-img img {
    width: 80px;
    height: auto;
  }
  .reviews-container .box .in-box .box-text h3 {
    margin: 2px 0;
    font-size: 12px;
  }
  .reviews-container .box .in-box .box-text .ratings .bi.bi-star-fill {
    font-size: 12px;
  }
  .contact_form .formulario h3 {
    font-size: 18px;
  }
  .product-categories .category p {
    font-size: 13px;
    margin: 20px;
  }
  nav div .navbar-brand {
    font-size: 20px;
  }
  nav div .collapse.navbar-collapse ul li .nav-link {
    font-size: 14px;
  }
  nav div .navbar-toggler {
    font-size: 14px;
  }
  nav div .collapse.navbar-collapse ul .nav-item.dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
  }
  .btn {
    font-size: 10px;
  }
  .hero div h2 {
    font-size: 20px;
  }
  .hero div p {
    font-size: 13px;
  }
  nav div .collapsenavbar-collapse form .form-control {
    font-size: 10px;
  }
  .destacados h2 {
    font-size: 20px;
  }
  .card {
    height: 290px;
  }
  .card-container .card img {
    width: 200px;
    height: 180px;
  }
  .card-productos .card img {
    width: 170px;
    height: 160px;
  }
  section div .card .card-content h3 {
    font-size: 13px;
  }
  section div .card .card-content p {
    font-size: 12px;
    margin-top: -5px;
  }
  section div .card .card-content .btn {
    font-size: 10px;
    margin-top: -5px;
  }
  footer il .icon-elem .icon {
    font-size: 25px;
  }
  footer ul .menu-elem .menu-icon {
    font-size: 11px;
  }
  footer h4 {
    font-size: 8px;
  }
  .presentacion img {
    margin-left: 30px;
    height: 200px;
    width: 300px;
  }
  .presentacion P {
    font-size: 10px;
    width: 40%;
    margin-right: 30px;
  }
  .mision img {
    margin-left: 30px;
    height: 200px;
    width: 300px;
  }
  .mision P {
    font-size: 10px;
    width: 40%;
    margin-right: 30px;
  }
  .contact_form {
    width: 420px;
    height: auto;
    margin: 70px auto;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 25px;
  }
  .contact_form .formulario form p .input {
    width: 360px;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .contact_form .formulario form p textarea {
    width: 360px;
    height: 150px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .contact_form .formulario form .boton {
    height: 20px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 360px;
  }
  h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  p {
    font-size: 11px;
  }
}
@media screen and (max-width: 667px) {
  .product-categories {
    grid-template-rows: repeat(3, 280px);
    padding: 10px;
  }
  .nosotros h2 {
    font-size: 20px;
    padding-top: 100px;
  }
  .category p {
    font-size: 13px;
    margin: 15px;
  }
  .presentacion img {
    margin-left: 15px;
    height: 190px;
    width: 280px;
  }
  .presentacion P {
    font-size: 10px;
    width: 40%;
    margin-right: 15px;
  }
  .mision img {
    margin-left: 15px;
    height: 180px;
    width: 280px;
  }
  .mision P {
    font-size: 10px;
    width: 40%;
    margin-right: 15px;
  }
  .card {
    margin-left: 50px;
    margin-right: 50px;
    height: 240px;
  }
  .card img {
    width: 150px;
    height: 160px;
  }
  section div .card .card-content p {
    margin-top: -30px;
  }
  section div .card .card-content .btn {
    margin-top: -30px;
  }
  .iframe-index iframe {
    height: 250px;
  }
  .card-container .card img {
    width: 180px;
    height: 160px;
  }
}
@media screen and (max-width: 589px) {
  .product-categories {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 250px);
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 20px;
  }
  .sus-reseñas h2 {
    font-size: 19px;
  }
  .reviews-container {
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    margin: 30px;
  }
  .reviews-container .box {
    padding: 20px;
  }
  .reviews-container .box p {
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 9px;
  }
  .reviews-container .box .in-box {
    gap: 20px;
  }
  .reviews-container .box .in-box .box-img img {
    width: 70px;
    height: auto;
  }
  .reviews-container .box .in-box .box-text h3 {
    margin: 2px 0;
    font-size: 10px;
  }
  .reviews-container .box .in-box .box-text .ratings .bi.bi-star-fill {
    font-size: 10px;
  }
  .contact_form .formulario h3 {
    font-size: 15px;
  }
  .product-categories .category .parrafo1 {
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .product-categories .category .imagen1 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .card {
    margin-left: 5px;
    margin-right: 5px;
  }
  .presentacion img {
    margin-left: 0;
    height: 190px;
    width: 290px;
  }
  .presentacion P {
    font-size: 9px;
    margin-right: 7px;
    margin-left: 7px;
  }
  .mision img {
    margin-left: 0;
    height: 190px;
    width: 290px;
  }
  .mision P {
    font-size: 9px;
    margin-right: 7px;
    margin-left: 7px;
  }
}
@media screen and (max-width: 507px) {
  .contact_form {
    width: 380px;
    height: auto;
    margin: 50px auto;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
  }
  .contact_form .formulario form p .input {
    width: 300px;
    height: 25px;
    margin-top: 8px;
    padding-left: 8px;
    margin-bottom: 8px;
  }
  .contact_form .formulario form p textarea {
    width: 300px;
    height: 110px;
    border-radius: 5px;
    margin-top: 8px;
    padding-left: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
  }
  .contact_form .formulario form .boton {
    height: 18px;
    padding: 5px;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 8px;
    width: 300px;
  }
  h2 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 12px;
    padding-bottom: 20px;
  }
  p {
    font-size: 9px;
  }
  .card {
    margin: 20px;
  }
  .presentacion {
    display: block;
    background-color: #351711;
    height: 320px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .presentacion img {
    margin: 10px;
  }
  .presentacion P {
    font-size: 9px;
    width: 80%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .mision {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .mision img {
    margin: 10px;
  }
  .mision P {
    font-size: 9px;
    width: 80%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .iframe-index iframe {
    height: 200px;
  }
}
@media screen and (max-width: 450px) {
  .contact_form {
    width: 320px;
    height: auto;
    margin: 45px auto;
    border-radius: 7px;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 18px;
  }
  .contact_form .formulario form p .input {
    width: 260px;
    height: 20px;
    margin-top: 7px;
    padding-left: 7px;
    margin-bottom: 7px;
  }
  .contact_form .formulario form p textarea {
    width: 260px;
    height: 90px;
    border-radius: 7px;
    margin-top: 7px;
    padding-left: 7px;
    margin-bottom: 7px;
    padding-top: 7px;
  }
  .contact_form .formulario form .boton {
    height: 20px;
    border-radius: 7px;
    width: 260px;
  }
  h2 {
    font-size: 18px;
    padding-bottom: 8px;
  }
  h3 {
    font-size: 12px;
    padding-bottom: 18px;
  }
  p {
    font-size: 9px;
  }
  .nosotros h2 {
    font-size: 19px;
  }
  .productos h2 {
    font-size: 19px;
  }
  .sus-reseñas h2 {
    font-size: 19px;
  }
  nav div .collapse.navbar-collapse ul li .nav-link {
    font-size: 16px;
  }
  nav div .collapse.navbar-collapse ul .nav-item.dropdown .dropdown-menu .dropdown-item {
    font-size: 16px;
  }
  nav div .navbar-toggler {
    font-size: 12px;
  }
  .btn {
    font-size: 11px;
  }
  .hero div h2 {
    font-size: 19px;
  }
  .hero div p {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }
  nav div .collapsenavbar-collapse form .form-control {
    font-size: 12px;
  }
  .destacados h2 {
    font-size: 19px;
  }
  section div .card .card-content h3 {
    margin-bottom: 12px;
  }
  section div .card .card-content p {
    margin-bottom: 19px;
  }
  footer il .icon-elem .icon {
    font-size: 18px;
    align-items: center;
  }
  footer ul .menu-elem .menu-icon {
    font-size: 11px;
    align-items: center;
  }
  footer h4 {
    font-size: 10px;
    text-align: center;
  }
  .presentacion img {
    margin: 0px;
    padding: 0;
    height: 350px;
    width: 100%;
  }
  .mision img {
    margin: 0px;
    padding: 0;
    height: 350px;
    width: 100%;
  }
  .presentacion P {
    font-size: 12px;
    color: #0e0e0e;
    width: 80%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .mision P {
    font-size: 12px;
    width: 80%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .mision {
    height: 550px;
  }
  .presentacion {
    height: 550px;
    background-color: #fff;
  }
  .sus-reseñas h2 {
    font-size: 19px;
  }
  .reviews-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    margin: 30px;
  }
  .reviews-container .box {
    padding: 17px;
  }
  .reviews-container .box p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 9px;
  }
  .reviews-container .box .in-box {
    gap: 17px;
  }
  .reviews-container .box .in-box .box-img img {
    width: 45px;
    height: auto;
  }
  .reviews-container .box .in-box .box-text h3 {
    margin: 2px 0;
    font-size: 12px;
  }
  .reviews-container .box .in-box .box-text .ratings .bi.bi-star-fill {
    font-size: 12px;
    padding-top: -80px;
  }
  .contact_form .formulario h3 {
    font-size: 14px;
  }
  .hero {
    background-image: url(../img/background2.png);
  }
  .card {
    margin: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
