footer {
    position: relative;
    width: 100%;
    background: #351711;
    min-height: 40px;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 5px 5px;
        flex-wrap: wrap;
        .icon-elem {
            list-style: none;
            .icon {
                color: #fff;
                font-size: 30px;
                display: inline-block;
                margin: 0 10px;
                transition: 0.5s;
                    &:hover {
                        transform: translateY(-10px);
                    }
            }
        }
    }
    .menu {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
       .menu-elem {
             list-style: none;
            .menu-icon {
                color: #fff;
                font-size: 14px;
                display: inline-block;
                text-decoration: none;
                margin: 0px 10px;
                opacity: 0.5;
                transition: 0.3s;
                    &:hover {
                        opacity: 1;
                    }
            }
       }
    }
    h4 {
        font-size: 12px;
        color: #fff;
        text-align: center;
    }
}